<!DOCTYPE html>
<html>
<head>
    <title>File Download</title>
</head>
<body>
    <form method="POST" action="/download">
        <label for="filename">Select File to Download:</label>
        <select name="filename" id="filename">
            <option value="hash.py">File 1</option>
            <option value="SecurityArchitecture.pdf">File 2</option>
            <option value="SecurityArchitecture.zip">File 3</option>
        </select>
        <input type="submit" value="Download">
    </form>
</body>
</html>
